body {
	margin: 0;
	padding-left: 155px; /* width of sidebar */
	padding-top: 53px; /* height of header */
	font-family: 'Segoe UI', Tahoma, sans-serif;
	font-size: 12px;
	color: rgb(48, 57, 66);
}
button, select:not([size]), select[size="1"] {
	margin: 0 1px 0 0;
	padding: 0 10px;
	min-width: 4em;
	min-height: 2em;
	
	background: -webkit-linear-gradient(#EDEDED, #EDEDED 38%, #DEDEDE);
	background:         linear-gradient(#EDEDED, #EDEDED 38%, #DEDEDE);
	border: 1px solid rgba(0,0,0,0.25);
	border-radius: 2px;
	outline: none;
	box-shadow: 0 1px 0 rgba(0,0,0,0.08), inset 0 1px 2px rgba(255,255,255,0.75);
	color: #444;
	text-shadow: 0 1px 0 rgb(240,240,240);
	font: inherit;
	
	-webkit-user-select: none;
	        user-select: none;
}
button:hover, select:not([size]):hover, select[size="1"]:hover {
	background: -webkit-linear-gradient(#F0F0F0, #F0F0F0 38%, #E0E0E0);
	background:         linear-gradient(#F0F0F0, #F0F0F0 38%, #E0E0E0);
	border-color: rgba(0,0,0,0.3);
	box-shadow: 0 1px 0 rgba(0,0,0,0.12), inset 0 1px 2px rgba(255,255,255,0.95);
	color: black;
}
button:active, select:not([size]):active, select[size="1"]:active {
	background: -webkit-linear-gradient(#E7E7E7, #E7E7E7 38%, #D7D7D7);
	background:         linear-gradient(#E7E7E7, #E7E7E7 38%, #D7D7D7);
	box-shadow: none;
	text-shadow: none;
}

h1, h2, h3 {
	font-weight: normal;
	line-height: 1;
	-webkit-user-select: none;
	        user-select: none;
	cursor: default;
}
h1 {
	font-size: 1.5em;
	margin: 21px 0 13px;
}
h3 {
	font-size: 1.2em;
	margin-bottom: 0.8em;
	color: black;
}

.sideBar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 155px;
}
.sideBar h1 {
	margin: 21px 0 1em 23px;
	padding: 0;
	color: rgb(92, 97, 102);
}
.sideBar ul {
	list-style-type: none;
	padding: 0;
}
.sideBar ul > li {
	border-left: 6px solid transparent;
	padding-left: 18px;
	-webkit-user-select: none;
	        user-select: none;
	cursor: pointer;
}
.sideBar > ul > li:last-of-type {
	margin-top: 27px;
}
.sideBar li a {
	display: inline-block;
	color: #999;
	text-decoration: none;
	line-height: 17px;
	margin: 6px 0;
}

header {
	position: fixed;
	top: 0;
	left: 155px;
	right: 0;
	border-bottom: 1px solid #EEE;
	background: -webkit-linear-gradient(white, white 40%, rgba(255, 255, 255, 0.92));
	background:         linear-gradient(white, white 40%, rgba(255, 255, 255, 0.92));
}
header, section {
	min-width: 600px;
	max-width: 738px;
}